# IDEs & OS
.idea/
*.iml
.DS_Store
Thumbs.db

# Dependencies & Builds
/dist
/node_modules
/doc/

#Security
.env
.env.*
!.env.example

# Temp & Others
TODOs
/backup
/coverage
/tools/archive/
!/tools/archive/header.html
!/tools/archive/footer.html
!/tools/archive/.htaccess
/tools/gallery/library/*
