# IDEs & OS
.idea/
*.iml
.DS_Store
Thumbs.db
TODOs


# Dependencies & Builds
/dist
/node_modules
/out
/doc/

#Security
.env
.env.*
!.env.example

# Temp & Others
/backup
/coverage
/tools/archive/
!/tools/archive/header.html
!/tools/archive/footer.html
!/tools/archive/.htaccess
/tools/gallery/library/*
