html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    cursor: crosshair;
    text-align: center;
}

#headerContainer {
    position: relative;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);
    width: 390px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: auto;
    height: 210px;
    max-height: 210px;
    overflow: hidden;
    transition: height 0.2s ease; /* Smooth animation */
    border: 1px solid #222;
    border-top: none;
}

#headerContainer.minimized {
    height: 20px;
}

#fractalCanvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex: 1;
}

button {
    position: relative;
    z-index: 10;
    margin: 2px 2px;
    cursor: pointer;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 3px;
    border-width: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #ccc;
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    height: 18px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .8) 0 1px 2px;
    opacity: .85;
    color: #fff;
}

button:active {
    outline: 0;
}

button:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

button:disabled,
button[disabled] {
    color: #666;
    cursor: auto;
}

h1 {
    padding: 0 10px 5px 10px;
    margin: 0;
    color: #30AF5E;
    z-index: 1000;
    font-size: 16px;
}

h1 sup {
    color: #fff;
}

p {
    margin: 5px 5px 3px 5px;
    color: #888;
    z-index: 1000;
    font-size: 12px;
    line-height: 14px;
}

#handle {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    padding: 2px 150px 2px 150px;
}

#handle.toggled {
    font-weight: bold;
}

#controlArea {
    background: rgba(64, 64, 64, 0.3);
    border-radius: 5px;
    width: 340px;
    position: relative;
    margin: 0 auto;
    padding: 2px;
    cursor: auto;
}

p.small {
    font-size: 11px;
}

.highlight {
    color: #ccc;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#infoLabel {
    width: 370px;
    height: 14px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    border: 1px solid #222;
    cursor: text;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    border-bottom: none;
    position: absolute;
    bottom: 0;
    right: 25%;
    left: 50%;
    margin-left: -195px;
}

#infoText {
    color: #ccc;
    font-family: sans-serif;
    width: 100%;
    font-size: 11px;
    background: transparent;
    border: none;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

#infoText:focus {
    outline: none !important;
}

/* Center guideline styles with dashed borders */
.centerLine {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.verticalLine {
    height: 100vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-left: 2px dashed white;
    background: transparent;
}

.horizontalLine {
    width: 100vw;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 2px dashed white;
    background: transparent;
}