:root {
    --bg-color: rgba(24, 48, 13, 0.2);
    --accent-color: #B4FF6A;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    cursor: crosshair;
    text-align: center;
    width: 100%;
    height: 100%;
}

#headerContainer {
    position: relative;
    z-index: 9999;
    background-color: var(--bg-color);
    backdrop-filter: blur(6px);
    width: 390px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid var(--bg-color);
    border-top: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#headerContainer.minimized {
    height: 20px;
    border: 2px solid var(--bg-color);
    border-top: none;
}

#fractalCanvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    flex: 1;
    display: block;
}

hr {
    width: 90%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    padding: 0;
    margin: 5px auto 1px auto;
}

button {
    position: relative;
    z-index: 10;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#777, #333);
    border-radius: 4px;
    border-width: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #eee;
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    height: 18px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    opacity: .85;
}

button.active {
    /*background-image: linear-gradient(#222, #666);*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*transform: translateY(1px);*/
    color: var(--accent-color);
    background: var(--bg-color);
    font-size: 12px;
    line-height: 1;
    border: 1px solid #666;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
    text-shadow: 0 0 4px var(--accent-color);
}

button:focus {
    color: var(--accent-color);
    background: var(--bg-color);
    font-size: 12px;
    line-height: 1;
    border: 1px solid #666;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05)
}

h1 {
    padding: 12px 10px 5px 10px;
    margin: 0;
    color: var(--accent-color);
    z-index: 1000;
    font-size: 16px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 0 0 10px var(--accent-color);
}

p {
    margin: 5px 5px 3px 5px;
    color: #ccc;
    z-index: 1000;
    font-size: 12px;
    line-height: 14px;
    text-shadow: 0 0 10px var(--accent-color);
}

span {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 6px var(--accent-color);
}

#sliders {
    text-align: center;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center the slider-container */
    gap: 5px; /* Add spacing between sliders */
    margin: 5px 0 0 0;
    display: none;
}

.slider-container {
    display: flex;
    flex-direction: row; /* Align label and slider horizontally */
    align-items: center; /* Vertically align label and slider */
    gap: 0; /* Add spacing between label and slider */
    width: 310px; /* Ensure consistent width for sliders */
}

label, .sliderValue {
    color: #ccc;
    font-size: 12px;
    text-align: right; /* Align text to the right */
}

.slider {
    flex: 1; /* Allow the slider to take remaining space */
    height: 10px;
    -webkit-appearance: none;
    background: #000;
    outline: none;
    border-radius: 10px;
    border: 1px solid #444;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
    border: 2px solid #ccc;
    box-shadow: -287px 0 0 280px var(--bg-color);
}

.thumbDisabled {
    background: #333;
}

#dives {
    display: none;
}

.switch-field {
    /*border: 1px solid yellow;*/
    display: flex;
    overflow: hidden;
    margin: 5px auto 10px auto;
    width: 210px;
}

.switch-field span {
    padding: 2px 5px 0 0;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background: linear-gradient(#777, #333);;
    color: #eee;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 3px 6px;
    margin-right: -1px;
    height: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    height: 12px;
    border: 1px solid #666;
    text-shadow: 0 0 10px var(--accent-color);
    background: var(--bg-color);
    color: var(--accent-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

#handle {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    padding: 2px 150px 2px 150px;
    display: none;
    color: var(--accent-color);
}

#handle.toggled {
    font-weight: bold;
}

#controlArea {
    background: var(--bg-color);
    border-radius: 10px;
    width: 340px;
    position: relative;
    margin: 0 auto;
    padding: 2px 2px 6px 2px;
    cursor: auto;
}

p.small {
    font-size: 11px;
}

p#presets, p#dives {
    color: #fff;
}

.highlight {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#version {
    color: var(--accent-color);
    font-size: 11px;
}

#infoLabel {
    width: 370px;
    height: 14px;
    padding: 5px 10px 7px 10px;
    background-color: var(--bg-color);
    backdrop-filter: blur(8px);
    z-index: 9999;
    border: 2px solid var(--bg-color);
    border-bottom: none;
    cursor: text;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    border-bottom: none;
    position: absolute;
    bottom: 0;
    right: 25%;
    left: 50%;
    margin-left: -195px;
}

#infoText {
    color: #ccc;
    /*color: var(--accent-color);*/
    font-family: sans-serif;
    /*font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;*/
    width: 100%;
    font-size: 11px;
    background: transparent;
    border: none;
    text-align: center;
    resize: none; /* Prevent user resizing */
    overflow: hidden; /* Hide scrollbars */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    text-shadow: 0 0 1px var(--bg-color);
}

#infoText:focus {
    outline: none !important;
}

#infoText.demoActive {
    color: var(--accent-color);
}

#debugInfo {
    display: none;
    border: 1px solid yellow;
    font-size: 11px;
    padding: 3px;
    text-align: left;
}

/* Center guideline styles with dashed borders */
.centerLine {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.verticalLine {
    height: 100vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-left: 2px dashed #ccc;
    background: transparent;
}

.horizontalLine {
    width: 100vw;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 2px dashed #ccc;
    background: transparent;
}