:root {
    --bg-color: rgba(24, 48, 13, 0.2);
    --mid-color: rgba(72, 144, 52, 0.6);
    --accent-color: rgba(180, 255, 106, 1);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    cursor: crosshair;
    text-align: center;
    width: 100%;
    height: 100%;
}

@keyframes fadeInTop {
    0% { top: -320px; }
    100% { top: 0; }
}

@keyframes fadeInBottom {
    0% { bottom: -30px; }
    100% { bottom: 0; }
}

#headerContainer {
    position: relative;
    z-index: 9999;
    background-color: var(--bg-color);
    backdrop-filter: blur(6px);
    width: 380px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: auto;
    height: auto;
    overflow: hidden;
    border: 5px solid var(--bg-color);
    border-top: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: -320px;
}

#headerContainer.ready {
    animation: fadeInTop 1s forwards;
}

#headerContainer.minimized {
    height: 28px;
}

#fractalCanvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    flex: 1;
    display: block;
}

h1 {
    padding: 0 0 0 0;
    margin: 6px auto 6px auto;
    color: var(--accent-color, #fff);
    z-index: 1000;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 12pt;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 0 0 4px #000, 0 0 12px var(--accent-color);
    width: 320px;
}

@media screen and (min-width: 471px) {
    #headerContainer {
        zoom: 120%;
    }

    #infoLabel {
        zoom: 120%;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 10pt;
    }
}

p {
    margin: 5px 0 3px 0;
    color: #ccc;
    z-index: 1000;
    font-size: 12px;
    line-height: 14px;
    text-shadow: 0 0 10px #000;
}

a {
    color: #fff;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    text-shadow: 0 0 8px var(--accent-color);
}
a:hover {
    text-decoration-color: var(--accent-color);
}

span {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

hr {
    width: 90%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    padding: 0;
    margin: 5px auto 1px auto;
}

button {
    position: relative;
    z-index: 10;
    margin: 4px 1px;
    cursor: pointer;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#777, #333);
    /*border-radius: 4px;*/
    border-width: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #eee;
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    height: 18px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    opacity: .85;
    /*border-right: 1px solid var(--accent-color);*/
}

button:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: none;
}

button:last-of-type,
button.last-of-ten {
    border-radius: 0 4px 4px 0;
    border-right: none;
}

button:hover {
    box-shadow: 0 2px 4px var(--accent-color), 0 -2px 4px var(--accent-color);
}

button.active {
    color: var(--accent-color);
    background-image: linear-gradient(#222, #666);
    box-shadow: 0 4px 8px var(--accent-color), 0 -4px 8px var(--accent-color);
    text-shadow: 0 0 4px var(--accent-color);
}

button:first-of-type:hover {
    box-shadow: -2px 0 4px var(--accent-color), 0 2px 4px var(--accent-color), 0 -2px 4px var(--accent-color);
}

button:first-of-type.active {
    box-shadow: -4px 0 8px var(--accent-color), 0 4px 8px var(--accent-color), 0 -4px 8px var(--accent-color);
}

button:last-of-type:hover {
    box-shadow: 2px 0 4px var(--accent-color), 0 2px 4px var(--accent-color), 0 -2px 4px var(--accent-color);
}

button:last-of-type.active {
    box-shadow: 4px 0 8px var(--accent-color), 0 4px 8px var(--accent-color), 0 -4px 8px var(--accent-color);
}

button:focus {
    background-image: linear-gradient(#222, #666);
    text-shadow: 0 0 4px var(--accent-color);
}

#sliders {
    text-align: center;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center the slider-container */
    gap: 5px; /* Add spacing between sliders */
    margin: 5px 0 10px 0;
    display: none;
}

.slider-container {
    display: flex;
    flex-direction: row; /* Align label and slider horizontally */
    align-items: center; /* Vertically align label and slider */
    gap: 0; /* Add spacing between label and slider */
    width: 310px; /* Ensure consistent width for sliders */
}

label, .sliderValue {
    color: #ccc;
    font-size: 12px;
    text-align: right; /* Align text to the right */
}

.slider-container label {
    text-shadow: 0 0 10px var(--accent-color);
    color: #fff;
}

.slider-container span {
    text-shadow: 0 0 2px var(--accent-color);
}

.slider {
    flex: 1; /* Allow the slider to take remaining space */
    height: 10px;
    -webkit-appearance: none;
    background: var(--bg-color);
    outline: none;
    border-radius: 10px;
    border: 1px solid #666;
    overflow: hidden;
    box-shadow: inset 0 0 5px var(--bg-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
    border: 1px solid #fff;
    /*box-shadow: -287px 0 0 280px var(--bg-color);*/
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px var(--accent-color);
}

.thumbDisabled {
    background: #333;
}

#dives {
    display: none;
}

button.dive {
    width: 57px;
}

.switch-field {
    /*border: 1px solid yellow;*/
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 240px;
    padding: 10px 20px;
}

.switch-field span {
    padding: 8px 5px 0 0;
}

.switch-field button {
    width: 80px;
}

#mandelbrotSwitch {
    /*border-right: 1px solid var(--accent-color);*/
}

#juliaSwitch {

}

#controlArea {
    background: var(--bg-color);
    border-radius: 10px;
    width: 340px;
    position: relative;
    margin: 0 auto;
    padding: 2px 2px 6px 2px;
    cursor: auto;
}

#controlButtons {
    margin: 5px 0 0 0;
}

#controlButtons button {
    width: 80px;
}

p.small {
    font-size: 11px;
}

p#presets {
    margin: 0;
}

p#presets, p#dives {
    color: #fff;
}

p#presets span, p#dives span {
    padding: 0 5px 0 0;
}

.highlight {
    color: #fff;
}

#version {
    color: var(--accent-color);
    text-shadow: 0 0 8px var(--accent-color);
    font-size: 11px;
}

#infoLabel {
    width: 370px;
    min-height: 14px;
    max-height: 30px;
    padding: 3px 5px 3px 5px;
    background-color: var(--bg-color);
    backdrop-filter: blur(8px);
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    border: 5px solid var(--bg-color);
    border-bottom: none;
    position: absolute;
    bottom: -30px;
    right: 25%;
    left: 50%;
    margin-left: -195px;
}

#infoLabel.ready {
    animation: fadeInBottom 1s forwards;
}

.middot {
    color: var(--accent-color);
}

#infoText {
    color: #fff;
    /*color: var(--accent-color);*/
    font-family: sans-serif;
    /*font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;*/
    width: 100%;
    font-size: 10px;
    background: transparent;
    border: none;
    text-align: center;
    resize: none;
    overflow: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    text-shadow: 0 0 8px #000;
    caret-color: var(--accent-color);
}

#infoText:focus {
    outline: none !important;
}


@keyframes pulse {
    0% {
        color: #fff;
    }

    100% {
        color: var(--accent-color);
    }
}

#infoText.animation {
    /*animation: pulse;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-delay: 0s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    color: var(--accent-color);
}

#debugInfo {
    display: none;
    border: 1px solid yellow;
    font-size: 11px;
    padding: 3px;
    text-align: left;
}

/* Center guideline styles with dashed borders */
.centerLine {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.verticalLine {
    height: 100vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-left: 2px dashed #ccc;
    background: transparent;
}

.horizontalLine {
    width: 100vw;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 2px dashed #ccc;
    background: transparent;
}